#node_modules
#public/hot
#public/data
#public/fonts
#public/images
#public/storage
#public/js
#public/css
#public/vendors
#storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
